.App {
  margin-bottom: 50px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.shopping-list {
  text-align: center;

  ul {
    text-align: left;
    display: inline-block;
  }
}

.meal-plan {
  hr {
    max-width: 500px;
  }
}

@media screen and (min-width: 1000px) {
  .home-content {
    flex-direction: row;
  }

  .shopping-list {
    margin-right: 50px;

    ul {
      margin-left: 0;
    }
  }

  .meal-plan {
    margin-left: 50px;
  }
}
